<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.asterism</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/asterism</string>
        <string>-r</string>
        <string>tcp://127.0.0.1:1234</string>
        <string>-u</string>
        <string>user123</string>
        <string>-p</string>
        <string>password</string>
        <string>-v</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/usr/local/var/log/asterism/asterism.log</string>
    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/asterism/asterism.err</string>
</dict>
</plist>
